<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="development">
        <logger name="StackTrace" level="ERROR"/>

<!--        <logger name="hrms" level="DEBUG"/>-->

<!--        <logger name="org.hibernate.SQL" level="DEBUG"/>-->
<!--        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>-->
<!--        <logger name="org.springframework.security" level="TRACE"/>-->
    </springProfile>

<!--    logging to a file: set logging.file.name in application.yml and include Spring Boot's file appender -->
<!--    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>-->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </root>-->
</configuration>
